.comment {
	
	display: grid;
	/* grid-template-columns: 5em 1fr 10em; */
	grid-template-columns: 4em 1fr 9em;
	grid-template-rows: 2em 1fr 2em;
	gap: 0.5em;
	padding: 0.8em;
}

.header {
	grid-column: 1/-1;
	grid-row: 1/2;
	display: flex;
	align-items: center;
	/* margin: 0.5em 0; */
}
.img {
	width: 2em;
}
.nickname {
	margin: 0 1em;
	font-weight: 700;
	font-size: 1.6rem;
	color: hsl(212, 24%, 26%);
}
.createdat {
	color: hsl(211, 10%, 45%);
	white-space: nowrap;
}
.content {
	grid-column: 1/-1;
	grid-row: 2/3;
	margin: 0.5em 0;
	text-align: left;
	font-size: 1.5rem;
	color: hsl(212, 24%, 26%);
}

.score {
	grid-column: 1/2;
	grid-row: 3/4;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: hsl(223, 19%, 93%);
	border-radius: 8px;
}
/* .score p {
	padding: 0.3em;
	font-weight: 500;
} */
.score-number {
	font-weight: 500;
	color: hsl(238, 40%, 52%);
}
.score-btn {
	width: 2em;
	height: 2em;
	color: hsl(211, 10%, 45%);
	font-weight: 700;
	border: none;
	background: none;
	cursor: pointer;
}
.score-btn:hover {
	color: black;
}
.action {
	grid-column: 3/4;
	grid-row: 3/4;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	/* margin-right: 0.5em; */
}
.reply-btn, .edit-btn {
	color: hsl(238, 40%, 52%);
}
.delete-btn {
	color: hsl(358, 79%, 66%);
}
/* .delete-btn svg path {
	fill: red;
} */

.delete-btn:hover {
	color: hsl(358, 79%, 66%, 50%);
}
/* MEDIA */
@media (min-width: 610px) {
	.comment {
		text-align: center;
		grid-template-columns: 2em 1fr 9em;
	}
	.header {
		grid-column: 2/3;
		grid-row: 1/2;
	}

	.content {
		grid-column: 2/-1;
		grid-row: 2/-1;
		margin: 0.5em;
	}

	.score {
		grid-column: 1/2;
		grid-row: 1/4;
		flex-direction: column;
		justify-content: flex-start;
		height: fit-content;
	}
	.score p {
		padding: 0.2em 0.5em;
	}
	.action {
		grid-column: 3/4;
		grid-row: 1/2;
		align-items: flex-start;
	}
}
