.reply {
   display: flex;
}
.line {
    margin-right: 1em;
    width: 2px;
    background-color: hsl(223, 19%, 93%);
}
.comment {
    width: 100%;
}
@media (min-width: 768px) {
    .line {
        margin: 0 2em;
    }
}