.reply {
   display: flex;
}
.line {
    margin-right: 1em;
    width: 2px;
    background-color: hsla(211, 10%, 45%, 20%);
    transform: translateY(-0.5em);
}
/* .comment {
    display: flex;
    flex-direction: column;
} */
@media (min-width: 768px) {
    .line {
        margin: 0 2em;
    }
}